.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-header-background {
    -fx-background-color: #455A64;
}

#btn {
    -fx-background-color: #455A64;
    -fx-background-radius: 5px;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5px;
    -fx-text-fill: #E0E0E0;
}

#text {
    -fx-text-fill: #E0E0E0;
}

#bg {
    -fx-background-color: #263238;
}

#bg_menu {
    -fx-background-color: #37474F;
    -fx-text-base-color: #E0E0E0;
    -fx-text-fill: #E0E0E0;
}

.menu-item .label{
    -fx-text-fill: #424242;
}

#tab {
    -fx-background-color: #37474F;
    -fx-text-base-color: #E0E0E0;
}

#store {
    -fx-font-size: 15pt;
    -fx-text-fill: #E0E0E0;
}